<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if(htmlWebpackPlugin.options.files) { %>
        <!-- Google Tag Manager -->
    <script>
    var ga=()=>{};
    </script>
    <!-- End Google Tag Manager -->
        <% } %>
    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/jeromeetienne/AR.js/2.1.4/aframe/build/aframe-ar.js"></script>
    <!-- <script src="https://unpkg.com/aframe-state-component@6.6.0/dist/aframe-state-component.min.js"></script> -->
    <script src="bundle.js"></script>
</head>

<body>
        
    <a-scene id="scene" vr-mode-ui="enabled: false">
        <a-assets preload="auto" >
            <!-- book -->
            <a-asset-item preloader="true" id="book_gltf" src="https://rawcdn.githack.com/carllx/hyuch360/f5115765d5541d5d804ebb27b0e883af2c74bc9e/src/static/book.glb"></a-asset-item>
            <img preloader="true" id="book_diff" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_85801be724634657a1e58a58e01aed44~mv2_d_4096_4096_s_4_2.png/v1/fit/w_1024,h_1024/e4ae07_85801be724634657a1e58a58e01aed44~mv2_d_4096_4096_s_4_2.png">
            <!-- logos -->
            <img preloader="true" id="logoMedici" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_fe459cd820464052800d75f17d628d2d~mv2.png/v1/fit/w_128,h_128/e4ae07_fe459cd820464052800d75f17d628d2d~mv2.png">
            <img preloader="true" id="logoUffizi" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_24024af2b18540208f1b4689ef0381d4~mv2.png/v1/fit/w_128,h_128/e4ae07_24024af2b18540208f1b4689ef0381d4~mv2.png">
            <img preloader="true" id="logoMandragora" crossorigin="anonymous"
            src="https://static.wixstatic.com/media/e4ae07_f363f75e121644d4a44739e110489ca6~mv2.png/v1/fit/w_128,h_128/e4ae07_f363f75e121644d4a44739e110489ca6~mv2.png">
            
        </a-assets>
        <!-- <a-box id='test' color="tomato" depth="0.02" height="0.4" width="0.05"></a-box> -->
        <a-sky id="background" src="#room1" rotation="0 -90 0"></a-sky>
        <!-- book -->
        <a-entity id="book" ></a-entity>
        <!-- camera -->
        <a-entity id="cam" camera position="4.895750045776367 -1.2412012815475464 0.3603135347366333" look-controls>
            <a-entity cursor="rayOrigin: mouse;" raycaster="objects: [raycastable]"></a-entity>
        </a-entity>
        <!-- Opere component -->
        <a-entity id="opere" position="0 0 0" rotation="0 0 0" scale="1 1 1"></a-entity>

        <!-- door componet -->
        <a-entity id="porta" position="0 0 0" rotation="0 0 0"></a-entity>


        <!-- <a-sphere o_door="index:1;" radius="0.4" position="4.96167 -1 -3.42365" material="color: #131313; shader: flat;"
            look-at="[camera]" geometry="segmentsHeight: 12; segmentsWidth: 9" ">    
        </a-sphere> -->


        <!-- Language componet -->
        <a-entity position="5 -2 -4.16903">
            <a-sphere radius="0.2" position="-1 -1 0" material="color: #131313; shader: flat;" raycastable
                look-at="[camera]" geometry="segmentsHeight: 12; segmentsWidth: 9" o_lang="text:ITALIANO">
            </a-sphere>
            <a-sphere radius="0.2" position="1 -1 0" material="color: #131313; shader: flat;" raycastable
                look-at="[camera]" geometry="segmentsHeight: 12; segmentsWidth: 9" o_lang="text:ENGLISH">
            </a-sphere>
        </a-entity>

        
    </a-scene>


</body>

</html>
